<div class="container">
    <div class="jumbotron">
        <center>
            <img src="imgs\id card cartoon.jpg" class="img-responsive" alt="Responsive image">
            <h1>Step 1:</h1>
            <p>Create an account or log in if you have one already.</p>
        </center>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <center>
            <img src="imgs\To do list pic.jpg" class="img-responsive" alt="Responsive image">
            <h1>Step 2:</h1>
            <p>Create your task list.</p>
        </center>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <center>
            <img src="imgs\maintenance-1.jpg" class="img-responsive" alt="Responsive image">
            <h1>Step 3:</h1>
            <p>Maintain it as you see fit.</p>
        </center>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <center>
            <img src="imgs\clip-art-computers-417260.jpg" class="img-responsive" alt="Responsive image">
            <h1>So easy even you grandma can do it.</h1>
        </center>
    </div>
</div>