<div class="jumbotron">
    <center>
    <h1>Enter Your New Task.</h1>
    <div class="row">
        <div class="col-xs-4">Name
            <input type="text" class="form-control" id="taskName">
        </div>
        <div class="col-xs-2">Date
            <input type="text" class="form-control" id="datepicker">
        </div>
        <div class="col-xs-2">Type
            <select class="form-control" id="taskType">
                <option>URGENT!</option>
                <option>Can Wait</option>
            </select>
        </div>
        <div class="col-xs-2"><br>
            <button class="btn btn-success" id="btnAddNewTask">Add Task</button>
        </div>
    </div>
    </center>
</div>

<div class="row">
    <center>
    <a href="#" id="btnTaskList">
        <h1>Go To Your List</h1>
        <img src="imgs/list.jpg" width="300px" height="300px">

    </a>
    </center>
</div>

<script src="scripts/app.js"></script>

