<div class="jumbotron">
    <center>
    <h1>Enter Your New Task.</h1>
    <div class="row">
        <div class="col-xs-4">
            <input type="text" class="form-control">Task Name
        </div>
        <div class="col-xs-2">
            <input type="text" class="form-control" id="datepicker">
        </div>
        <div class="col-xs-2">
            <select class="form-control" ></select>Specify Type
        </div>
        <div class="col-xs-2">
            <button class="btn btn-success" id="btnAddNewTask">Add Task</button>
        </div>
    </div>
    </center>
</div>

<div class="row">
    <center>
    <a href="#" id="btnTaskList">
        <h1>Go To Your List</h1>
        <img src="imgs/list.jpg" width="300px" height="300px">

    </a>
    </center>
</div>

<script src="scripts/app.js"></script>
